@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #4287F5;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.makeImageCircular {
  border-radius:50%;
}
